<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{title}}</title>
<link rel="stylesheet" href="static/css/bootstrap.min.css" />
<link rel="stylesheet" href="static/css/theme.css" />
<script src="static/js/jquery-2.1.0.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script type="text/javascript">
	var fd = new FormData(document.getElementById("codefile"));
	$.ajax({
		url : "code",
		type : "POST",
		data : fd,
		processData : false,
		contentType : false
	});
</script>
</head>
<body>
	<header id="header" class="pyscalar-header">
		<div class="container">
			<h1>
				PyScalar <small>Superscalar Processor Simulator</small>
			</h1>
		</div>
	</header>
	<div class="container">
		<form class="form form-inline" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="codefile">ASM Code: <input type="file"
							id="codefile" name="codefile"> </label>
						<p class="help-block">Upload assembly code.</p>
					</div>
					<button type="submit" class="btn btn-primary" id="code-button"
						name="code" formaction="code" formmethod="post">
						Load <i class="glyphicon glyphicon-file"></i>
					</button>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="steps">Pasos: <input type="text" value="1"
							name="steps" /></label>
					</div>
					<button type="submit" class="btn btn-primary" name="step"
						formaction="step" formmethod="get">
						Step <i class="glyphicon glyphicon-step-forward"></i>
					</button>
					<button type="submit" class="btn btn-success" name="run"
						formaction="run" formmethod="get">
						Run <i class="glyphicon glyphicon-play"></i>
					</button>
					<button type="submit" class="btn btn-danger" name="reset"
						formaction="reset" formmethod="get">
						Reset <i class="glyphicon glyphicon-repeat"></i>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<p>Escalaridad: {{def.S}}</p>
				</div>
			</div>
		</form>
		<hr>
		<div class="row">
			<div class="col-md-4">{% include 'imem.html' %}</div>
			<div class="col-md-4">{% include 'iw.html' %}</div>
			<div class="col-md-4">{% include 'rob.html' %}</div>
		</div>
		<div class="row">
			<div class="col-md-4">{% include 'ib.html' %}</div>
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">Data Memory</div>
					<pre>{{app.cpu.dmem}}</pre>
				</div>
			</div>
			<div class="col-md-4">
				<pre>{{app.cpu.regs}}</pre>
			</div>
		</div>
	</div>

</body>
</html>