#header {
	position: relative;
	padding: 30px 15px;
	color: #cdbfe3;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	background-color: #6f5499;
	background-image: -webkit-linear-gradient(top, #563d7c 0, #6f5499 100%);
	background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
	background-repeat: repeat-x;
}

.pyscalar-header {
	padding-top: 60px;
	padding-bottom: 60px;
	font-size: 24px;
	text-align: left;
	margin-bottom: 40px;
}

.table-condensed>thead>tr>th,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>tbody>tr>td,.table-condensed>tfoot>tr>td
{
	padding: 3px;
}